.header__logo {
  display: block;
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 940px) {
  .header__logo {
    padding-left: 30px;
  }
}

@media screen and (max-width: 550px) {
  .header__logo {
    width: 104px;
    height: 24px;
  }
}
