.header__auth-link {
  display: block;
  margin-left: auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #ffffff;
  padding-right: 30px;
  align-self: center;
}

@media screen and (max-width: 550px) {
  .header__auth-link {
    align-self: center;
  }
}
