.nav-bar__link_sign-in {
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-left: 24px;
}

.nav-bar__link_sign-in:hover {
  opacity: 0.6;
}

@media screen and (max-width: 550px) {
  .nav-bar__link_sign-in {
    margin-left: auto;
  }
}
