.nav-bar__link_sign-out {
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    color: #A9A9A9;
    margin-left: 24px;
}

.nav-bar__link_sign-out:hover {
    opacity: 0.6;
}

@media screen and (max-width: 550px) {
    .nav-bar__link_sign-out {
        margin-left: 0;
        padding-bottom: 30px;
    }
}