.auth-page__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    border: none;
    padding: 0;
    max-width: 100%;
}

@media screen and (max-width: 650px) {
    .auth-page__form {
        max-width: 238px;
    }
  }